<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar (ionInput)="getCardByName($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item (click)="showCardInfo(item.cardId)">
        <button ion-item >
          <ion-avatar item-start approxItemHeight="204px" approxItemWidth="146px">
            <img src="{{item.frontImage}}">
          </ion-avatar>
          {{item.name}}
        </button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="success" (click)="showAlertChooseList(item.cardId)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll *ngIf="nextPage != undefined" (ionInfinite)="loadMorePages($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
