<!--
  Generated template for the CardInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only clear end (click)="showLegalFormats()">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="loadComplete">
    <div class="text-center">
      <h1 class="title">{{cardInfo.name}}</h1>
    </div>
    <div class="text-center">
      <div *ngIf="cardInfo.image_uris == undefined">
        <img *ngIf="sideShown" src="{{cardInfo.card_faces[0].image_uris.large}}" class="card-size">
        <img *ngIf="!sideShown" src="{{cardInfo.card_faces[1].image_uris.large}}" class="card-size">
        <br>
        <br>
      </div>
      <img *ngIf="cardInfo.image_uris != undefined" src="{{cardInfo.image_uris.large}}" class="card-size">
    </div>
    <div *ngIf="cardInfo.image_uris == undefined" class="text-center">
      <button class="flip-button" ion-button icon-only (click)="changeSide()">
        <ion-icon name="return-right"></ion-icon>
      </button>
    </div>
    <div>
      <div *ngIf="cardInfo.image_uris == undefined">
        <p class="oracle-text" *ngIf="sideShown">{{cardInfo.card_faces[0].oracle_text}}</p>
        <p class="oracle-text" *ngIf="!sideShown">{{cardInfo.card_faces[1].oracle_text}}</p>
      </div>
      <div *ngIf="cardInfo.image_uris != undefined">
        <p class="oracle-text">{{cardInfo.oracle_text}}</p>
      </div>
    </div>
  </div>
</ion-content>
