.text-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

.card-size{
    height: 300px !important;
}

.oracle-text{
    white-space: pre-line;
    text-align: center;
    text-justify: inter-word;
}
