.text-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

.card-size{
    height: 300px !important;
}

.img-loaded + ion-spinner {
    display:none !important;
  }